*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  font-family: "Century Gothic", Futura, sans-serif;
  margin: 0;
}
ol, ul {
  padding-left: 18px;
}
.game {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.game__content{
  width: 600px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 40px;
  border: 3px solid #fff;
  box-shadow: 0 0 20px 0px #fff, 0 0 20px 0px #fff inset;
  border-radius: 5px;
  position: relative;
}
.game__status{
  flex: 1 0 auto;
  width: 100%;
  font-size: 3.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px khaki;
  text-align: center;
  line-height: 1.5;
}
.game__board{
  flex: 0 0 auto;
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 34%);
  grid-template-rows: repeat(3, 34%);
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.board::before{
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  box-shadow: 0 0 5px 2px khaki;
  border: 1px solid khaki;
  position: absolute;
  z-index: 1;
  transition: width .5s linear;
  opacity: 0;
}
.board--win::before{
  width: 150%;
  opacity: 1;
}
.board--win-1::before{top: 16%; left: 50%; transform: translateX(-50%) rotate(0deg);}
.board--win-2::before{top: 50%; left: 50%; transform: translateX(-50%) rotate(0deg);}
.board--win-3::before{top: 84%; left: 50%; transform: translateX(-50%) rotate(0deg);}
.board--win-4::before{top: 50%; left: 16%; transform: translateX(-50%) rotate(90deg);}
.board--win-5::before{top: 50%; left: 50%; transform: translateX(-50%) rotate(90deg);}
.board--win-6::before{top: 50%; left: 84%; transform: translateX(-50%) rotate(90deg);}
.board--win-7::before{top: 50%; left: 50%; transform: translateX(-50%) rotate(45deg);}
.board--win-8::before{top: 50%; left: 50%; transform: translateX(-50%) rotate(-45deg);}
.square {
  transform: translate(-2px,-2px);
  float: left;
  font-size: 6em;
  font-weight: bold;
  line-height: 34px;
  text-align: center;  
  border: none;
  background: none;
  outline: 1px solid #fff;
  box-shadow: 0 0 5px 2px #fff;
  color: #fff;
}
.square:focus {
  outline: none;
}
.square--x-blur{
  text-shadow: 0 0 10px #f01fb1;
}
.square--o-blur{
  text-shadow: 0 0 10px #26fdfd;
}
.moves__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.moves__link{
  text-shadow: 0 0 10px #fff;
  color: #fff;
  font-size: 2em;
}
.moves__link--active{
  text-decoration: none;
}
.game__reset{
  position: absolute;
  font-size: 3em;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
  text-shadow: 0 0 10px #fff;
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
  line-height: 1.1;
}

@media (max-width: 1024px){
  .game__content{
    width: 600px;
    height: 350px;
    padding: 20px;
    gap: 5px;
  }
  .moves__link{
    font-size: 1.8em;
  }
  .board{
    width: 250px;
    height: 250px;
  }   
}
@media (max-width: 768px){
  .game__content{
    width: 400px;
    height: 300px;
    padding: 20px;
    gap: 5px;
  }
  .game__status{
    flex: 0 0 auto;
  }
  .board{
    width: 200px;
    height: 200px;
  }    
  .moves__link{
    font-size: 1.5em;
  }
}
@media (max-width: 425px){
  .game__content{
    width: 310px;
    height: 580px;
    order: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 15px;
  }
  .game__moves{
    order: 2;
  }
  .board{
    width: 200px;
    height: 200px;
  }
  .game__reset{
    top: 2%;
    right: 3%;
  }
  .game__reset{
    font-size: 2em;
  }
}
@media (max-width: 320px){
  
}