body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}
ol, ul {
  padding-left: 18px;
}
.game {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.container{
  width: 60%;
  margin: 0 auto;
}
.game__content{
  display: flex;
  padding: 80px;
}
.game__info {
  margin-left: 20px;
}
.board__row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:focus {
  outline: none;
}
